// ----------------------------------------------------------------------
	// Layout Breakpoints
// ----------------------------------------------------------------------
$maxMobile: "(max-width: 767px)";
$minSmall: "(min-width: 768px)";
$minMedium:"(min-width: 992px)";


$float-left: left;
$float-right: right;


// ----------------------------------------------------------------------
	// Colors
// ----------------------------------------------------------------------
$majorColor: #363d4e;

// ----------------------------------------------------------------------
	// Font Sizes (p, li, ...etc)
// ----------------------------------------------------------------------
$regularSize: 1.05rem;
$medSize: 2.25rem;
$largeSize: 3.25rem;
$largerSize: 4.25rem;


$largeMarginDiv: 80px;


// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
$mainFont: Raleway, Montserrat, Arial, sans-serif;

// ----------------------------------------------------------------------

